<%= form_with(model: dictionary) do |form| %>
  <% if dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
        <% dictionary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, required: true, maxlength: 50 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, required: true, maxlength: 500 %>
  </div>

  <div class="field">
    <%= form.label :fruit_id %>
    <%= form.collection_select  :fruit_id,
                                Fruit.all,
                                :id,
                                :name,
                                required: true,
                                include_blank:true %>
  </div>

  <div class="field">
    <%= form.label :pet_id %>
    <%= form.collection_select  :pet_id,
                                Pet.all,
                                :id,
                                :name,
                                required: true,
                                include_blank:true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
