<h1 class="title is-4 has-text-dark">
  Dictionaries
</h1>

<div class="field is-grouped is-grouped-right">
  <div class="control">
    <%= link_to 'New Dictionary', new_dictionary_path, class: "button is-primary is-medium is-rounded" %>
  </div>
</div>




<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Fruit</th>
      <th>Pet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dictionaries.each do |dictionary| %>
      <tr>
        <td><%= truncate(dictionary.name, length: 20) %></td>
        <td><%= truncate(dictionary.description, length: 50) %></td>
        <td><%= (dictionary.fruit.name if dictionary.fruit) %></td>
        <td><%= (dictionary.pet.name if dictionary.pet) %></td>
        <td><%= link_to 'Show', dictionary %></td>
        <td><%= link_to 'Edit', edit_dictionary_path(dictionary) %></td>
        <td><%= link_to 'Destroy', dictionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
